<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  IgnorableNamespaces="uap rescap desktop6">

	<Identity
	  Name="AIMTechToolkit"
	  Publisher="CN=John Gage Faulkner, O=John Gage Faulkner, L=Barnesville, S=Georgia, C=US"
	  Version="1.2.1.0" />

	<mp:PhoneIdentity PhoneProductId="e1f8e58f-09c5-46ad-8cc8-8b0abfbea1eb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>AIMTechToolkit</DisplayName>
		<PublisherDisplayName>Gage Faulkner</PublisherDisplayName>
		<Logo>Assets\Icons\AIMTechToolkit-Logo.png</Logo>
		<!-- Disable all virtualization for Centennial apps. -->
		<desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
		<desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="AIMTechToolkit"
			  Description="AIMTechToolkit"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile
					Wide310x150Logo="Assets\Wide310x150Logo.png"
					ShortName="AIM Toolkit"
					Square71x71Logo="Assets\SmallTile.png"
					Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<rescap:Capability Name="unvirtualizedResources" />
		<rescap:Capability Name="packageManagement" />
	</Capabilities>
</Package>
